<header>
	<p>Board Members</p>
</header>

<ul class="users">
	<% users.each(function (user) { %>
		<li class="user"
				data-user-id="<%= user.id %>">
			<!img class="avatar" src="<%= user.escape("gravatar_url") %>" /-->
			<span><%= user.get('full_name') %></span>
		</li>
	<% }); %>
</ul>

<form class="add_user">
	<input type="text"
		 class="user_email"
         name="user_email"
         placeholder="Add a member ..." />
	<input type="submit" value="Add Member" />
</form>
